﻿@model EscuelaNet.Presentacion.Conocimientos.Web.Models.AsesorIndexModel


<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">ASESORES   </h3>
                <label class="text-success">@TempData["success"]</label>
                <label class="text-danger">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px">Número</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Disponibilidad</th>
                            <th>Idioma</th>
                            <th>País</th>
                            <th>Conocimiento</th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var asesor in Model.Asesores)
                        {
                            <tr>
                                <td>@asesor.ID</td>
                                <td>@asesor.Nombre</td>
                                <td>@asesor.Apellido</td>
                                <td>@asesor.Disponibilidad</td>
                                <td>@asesor.Idioma</td>
                                <td>@asesor.Pais</td>

                                <td>
                                    <a href="/Asesor/Conocimiento/@asesor.ID" title="Conocimientos" class="btn btn-warning">
                                        <i class="fa fa-lightbulb-o"></i>Conocimientos</a>
                                </td>
                                <td><i class="fa fa-lightbulb-o"></i>
                                    <a href="/Asesor/Edit/@asesor.ID" title="Editar" class="btn btn-toolbar">
                                        <label class="btn btn-primary"><i class="fa fa-edit"></i> Editar</label>
                                    </a>
                                    <a href="/Asesor/Delete/@asesor.ID" title="Borrar" class="btn btn-toolbar">
                                        <label class="btn btn-danger"><i class="fa fa-remove"></i> Borrar</label>
                                    </a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <a href="/Asesor/New" title="Nuevo" type="button" class="btn btn-primary">
                                    Nuevo
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}
