﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.EquiposIndexModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Equipo</h3>
            </div>
            <div class="box-header with-border">
                <label class="text-success">@TempData["success"]</label>
                <label class="text-success">@TempData["error"]</label>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr style="text-align:center">
                            <th style="width: 10px">#</th>
                            <th>Nombre</th>
                            <th>Pais</th>
                            <th>Huso Horario</th>
                            <th>Horas Disponibles Programador</th>
                            <th>Cantidad de Programadores</th>
                            <th>Skills</th>
                            <th>Conocimientos</th>
                            <th>Programadores</th>
                            <th>Acciones</th>
                        </tr>
                        @foreach (var equipo in Model.Equipos)
                        {
                            <tr style="text-align:center">
                                <td>@equipo.Id</td>
                                <td>@equipo.Nombre</td>
                                <td>@equipo.Pais</td>
                                <td>@equipo.HusoHorario</td>
                                <td>@equipo.HorasDisponibleProgramadores</td>
                                <td>@equipo.CantidadProgramadores</td>
                                <td>@equipo.Total.GetValueOrDefault()</td>
                                <td>
                                    <a href="/Equipos/Skills/@equipo.Id" title="Listado de Conocimientos" type="button" class="btn btn-warning">
                                        <i class="fa fa-lightbulb-o"></i> Conocimientos
                                    </a>
                                </td>
                                <td>
                                    <a @{ if (equipo.Total.GetValueOrDefault() <= 0) { <text> disabled  </text>  } else { <text> href="/Equipos/Programadores/@equipo.Id" </text>  } }
                                       title="Listado de Programadores" type="button" class="btn btn-primary">
                                        <i class="fa fa-laptop"></i> Programadores
                                    </a>
                                </td>
                                <td>
                                    <a href="/Equipos/edit/@equipo.Id" title="Editar" type="button" class="btn btn-light">
                                        <i class="fa fa-edit"></i> Editar
                                    </a>
                                    <a href="/Equipos/delete/@equipo.Id" title="Borrar" type="button" class="btn btn-light">
                                        <i class="fa fa-remove"></i> Borrar
                                    </a>
                                </td>
                            </tr>

                        }
                        <tr>
                            <td colspan="10">
                                <a href="/Equipos/new" title="Nuevo" type="button" class="btn btn-success">
                                    <i class="fa fa-plus"></i> Nuevo
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination justify-content-center">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
        <!-- /.box Html.Raw(equipo.DisableBotonProgramadores)-->
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.col -->
</div>

@section Scripts{
    <script>
    </script>
}
